<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="image-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Nome ricetta</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle">Gestisci Ricetta <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Alla lista della spesa</a></li>
      <li><a href="#">Modifica ricetta</a></li>
      <li><a href="#">Elimina ricetta</a></li>
    </ul>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Descrizione
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredienti
  </div>
</div>
